.container, .nav, .menu {
    display: flex;
    align-items: center;
    gap: 24px;
}

.container{
    padding: 20px 40px;
    justify-content: space-between;
    background: var(--surface-ground);
}


:host ::ng-deep {
    .p-avatar{
        cursor: pointer;
    }

    .p-button{
        color: var(--text-color) !important;
    }

    .hun-icon, .usa-icon{
        height: 15px;
        width: 15px;
        background-size: contain !important;
        background-repeat: no-repeat !important;
    }

    .hun-icon{
        background: url("../../../assets/pictures/hungary-flag-round-medium.png");
    }

    .usa-icon{
        background: url("../../../assets/pictures/united-kingdom-flag-round-medium.png");
    }

    .selected-opt{
        background-color: var(--text-color);
        height: 8px;
        width: 8px;
        border-radius: 50%;
        margin-left: auto;
    }

    .container > .p-button{
        font-size: 5rem;
    }
}

