<div class="container">
    <div class="nav">
        <i class="pi pi-globe" style="font-size: 2rem"></i>
        <h3>Title of Tab</h3>
    </div>
    <div class="menu">
        <p-button icon="pi pi-bell" [rounded]="true" [text]="true"></p-button>
        <p-tieredMenu #settingsMenu [model]="settingsItems" [popup]="true"></p-tieredMenu>
        <p-button icon="pi pi-cog" [rounded]="true" [text]="true" (click)="settingsMenu.toggle($event)"></p-button>
        <p-tieredMenu #accountMenu [model]="accountItems" [popup]="true"></p-tieredMenu>
        <p-avatar icon="pi pi-user" styleClass="mr-2" shape="circle" (click)="accountMenu.toggle($event)"></p-avatar>    
    </div>
</div>