<div [class]="menuClass">
    <p-button icon="pi pi-align-justify" [rounded]="true" [text]="true" (click)="toggleSideBar()"></p-button>
    <div class="menu-item"><p-button icon="pi pi-home" [rounded]="true" [text]="true"></p-button> Dashboard</div>
    <div class="menu-item"><p-button icon="pi pi-id-card" [rounded]="true" [text]="true"></p-button> Transactions</div>
    <div class="menu-item"><p-button icon="pi pi-pound" [rounded]="true" [text]="true"></p-button> Currencies</div>
    <div class="menu-item"><p-button icon="pi pi-users" [rounded]="true" [text]="true"></p-button> Users</div>
</div>