.container, .container-expand{
    margin: 20px;
    height: 80vh;
    transition: all 0.3s ease-out;
    background: var(--surface-ground);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding:  16px 14px;
}



.container{ 
    width: 5rem;  
}

.container-expand {
    width: 12rem;
}

.menu-item{
    overflow: hidden;
}

:host ::ng-deep {
    .p-button{
        color: var(--text-color);
    }

    .hide-menu-label > .p-button-label{
        color: var(--surface-ground);
    }

    .side-menu-toggler{
        margin-left: 5px;
    }
}