@import "primeicons/primeicons.css";

//=== Themes ===//

html,
body {
  font-family: var(--font-family);
  background-color: var(--surface-ground);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background: var(--surface-300);
}


h1,h2,h3{
  margin: 0;
}

